/* src/index.css */
@import "tailwindcss";

/* You can keep your other global styles below */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-brand: "Roboto";
}